<mat-toolbar color="primary">
    <img src="./assets/img/logo.png" alt="Nature" class="responsive">
    <span class="spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/reportes">Reportes</button>
    <span class="spacer"></span>
    <button routerLink="./logout" mat-icon-button class="example icon favorite icon" aria-label="Example">
        <mat-icon>logout</mat-icon>
    </button>


</mat-toolbar>
